<html lang="en">
    <head>
        <%- include('./head'); %>
    </head>
    <body>
        <header>
            <%- include('./header', {homeTabState:"active", sessionsTabState: "", contactsTabState: "", oauthcontactsTabState: ""}); %>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row content">
                    <div class="col-sm-2 sidenav">
                        <!-- <p><a href="#">Link</a></p>
                        <p><a href="#">Link</a></p>
                        <p><a href="#">Link</a></p> -->
                    </div>         
                    <div class="col-sm-8 text-left">        
                        <section>
                            <h1>Welcome to Salesforce SAML app</h1>                     
                            <% if(typeof isAuthenticated !== 'undefined'){ %>
                                <% if(isAuthenticated){ %>
                                <p class="center">                                
                                    Hi <b><%= user.username %></b> <i>(<%= user.email %>)</i>
                                </p>
                                <p>
                                    Your sessionID is <%= sessionID %>.
                                </p>
                                <% } %>
                            <% } %>
                        </section>
                    </div>
                    <div class="col-sm-2 sidenav">
                        <!-- <div class="well">
                            <p>ADS</p>
                        </div>
                        <div class="well">
                            <p>ADS</p>
                        </div>             -->
                    </div>
                </div>
            </div>
        </main>
        <header>
            <%- include('./footer'); %>
        </header>                   
    </body>
</html>